//colors
$body-bg: #212121;

// $body-color: rgb(24, 240, 60);
$textcolor: #2c3e50;

$lighttextcolor: #f8f9fa;

$keared: #eb5045;

$byg: #017740;
$bygdark: #01774075;
$design: #ea4360;
$designdark: #ea436075;
$digital: #e88334;
$digitaldark: #e8833475;
$teknik: #037dbb;
$teknikdark: #037dbb75;
