body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  // font-size: 15px; //15
  line-height: 1.6;
  background-color: #212121;
  // padding: 10rem;

  /* color: #233249 !important; */
}

iframe {
  // width: 100%;
  border: 2px solid #ccc;
}

[v-cloak] {
  display: none;
}

/*Text*/
h5,
p {
  color: white;
}

a {
  text-decoration: none;
}

.fbIcon {
  color: #4267b2;
  cursor: pointer;
  font-size: 2rem;
}

.twIcon {
  color: #1da1f2;
  cursor: pointer;
  font-size: 2rem;
}

.liIcon {
  color: #0a66c2;
  cursor: pointer;
  font-size: 2rem;
}

.mailIcon {
  color: primary;
  font-size: 2rem;
}

.product-icon {
  opacity: 0.8;
  font-size: 1.6rem;
  cursor: pointer;
}

.product-icon:hover {
  opacity: 1;
  font-size: 1.6rem;
  cursor: pointer;
}

// a > i {
//   font-size: 2rem;
// }

/*Lagt i index.html*/

/* Style buttons */

.btn-custom-product {
  background-color: #f8f9fa;
  border: none;
  color: #343a40;
  /* padding: 0.5rem !important; */
  font-size: 0.7rem; //1
  cursor: pointer;
  border-radius: 0.7rem; //1
}

.btn-custom-product:hover {
  background-color: #343a40;
  color: #f8f9fa;
}

.btn-custom-product i {
  color: #343a40;
}

.btn-custom-product:hover i {
  color: #f8f9fa;
}

.btn-search {
  color: #f8f9fa;
}

.btn-search:hover {
  color: #343a40;
}

.btn-custom-nav {
  color: #eb5045;
  background-color: white;
  border-color: white;
  font-weight: bold;
  border: 0px;
  font-size: 0.7rem;

  /* text-transform: uppercase !important; */
}

.btn-custom-nav:hover {
  background-color: #eb5045;
  color: white;
}

.btn-custom-nav:active,
.btn-custom-nav:focus {
  background-color: #eb5045;
  color: white;
  border: 0px;
  box-shadow: none;
}

.btn-custom-nav:focus {
  outline: none;
}

.btn-custom-author {
  color: #343a40;
  background-color: white;
  border-color: white;
  font-weight: bold;
  border: 0px;
  font-size: 0.7rem;

  /* text-transform: uppercase !important; */
}

.btn-custom-author:hover {
  background-color: #343a40;
  color: white;
}

.btn-custom-author:active,
.btn-custom-author:focus {
  background-color: #343a40;
  color: white;
  border: 0px;
  box-shadow: none;
}

.btn-custom-author:focus {
  outline: none;
}

.carousel-indicators {
  z-index: 1;
  // position: relative;
}

/* rykker navbar helt til venstre */
/* .row {
    --bs-gutter-x: 0rem !important;
  } */

.rounded-custom {
  border-radius: 10px;
}

.carousel img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 20rem; //30
  width: 100%;
}
.carousel-caption {
  transition: all 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-caption:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

/* .carousel-caption p {
    transition: all 0.2s ease-in-out;
  } */

/* .carousel-caption:hover p {
    color: #ea4e44 !important;
  } */

/* Cards */
.card-text {
  font-size: 0.7rem; //1
}
/* .embed-responsive .card-img-top {
    object-fit: cover;
    object-position: center; 
  } */

.card-img-top {
  height: 12rem; //20
  object-fit: cover;
  object-position: center;
}
.card {
  transition: all 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.03); //1.05
  /* color: #ea4e44 !important; */
}

.card-title {
  font-size: 1rem;
}
.card:hover .card-title {
  color: #eb5045;
}

/* Multi carousel */
/* Tried this, did not work: https://www.codeply.com/p/0CWffz76Q9 */

/*Navbar*/
.navbar-brand img {
  width: 8rem; // 12
  text-align: left;
  // "padding-bottom": "1rem",
}
.navbar-title {
  color: white;
  text-transform: noneM;
  // "margin-bottom": "0.7rem",
  font-size: "1.2rem"; //2
  // "padding-bottom": "0rem",
  // "margin-bottom": "0rem",
}

/* Icons sidebar */

.sidebar-icons {
  color: #ced4da;
  font-size: 2.5rem; //4
  line-height: 2rem; //5
}

.sidebar-icons:hover {
  color: white;
}
.tooltip-inner {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 2rem;
  opacity: 0.6;
}
/* 
  .tooltip.top .tooltip-arrow {
    background-color: rgba(0, 0, 0, 0.2) !important;
    opacity: 0.4 !important;
  }
  
  .tooltip.right .tooltip-arrow {
    background-color: rgba(0, 0, 0, 0.2) !important;
    opacity: 0.4 !important;
  }
  
  .tooltip.bottom .tooltip-arrow {
    background-color: rgba(0, 0, 0, 0.2) !important;
    opacity: 0.4 !important;
  }
  
  .tooltip.left .tooltip-arrow {
    background-color: rgba(0, 0, 0, 0.2) !important;
    opacity: 0.4 !important;
  } */

/* .sidebar-text {
    color: #ced4da;
    font-size: 2rem;
    line-height: 5rem;
  } */

.sidebar-icon-like:before {
  font-family: Arial, Helvetica, sans-serif;
  content: "\f417";
  color: white;
  opacity: 0.5;
  transition: all 0.6s ease-in-out;
}

.sidebar-icon-like:hover:before {
  font-family: Arial, Helvetica, sans-serif;
  content: "\f415";
  color: white;
  opacity: 1;
}

.sidebar-icon-archive:before {
  font-family: Arial, Helvetica, sans-serif;
  content: "\F10D";
  color: white;
  opacity: 0.5;
  transition: all 0.6s ease-in-out;
}

.sidebar-icon-archive:hover:before {
  font-family: Arial, Helvetica, sans-serif;
  content: "\F10C";
  color: white;
  opacity: 1;
}

.sidebar-icon-share:before {
  font-family: Arial, Helvetica, sans-serif;
  content: "\F52E";
  color: white;
  opacity: 0.5;
  transition: all 0.6s ease-in-out;
}

.sidebar-icon-share:hover:before {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  content: "\F52D";
  color: white;
  opacity: 1;
}

/* .sidebar-icon-like:hover:before {
    font-family: Arial, Helvetica, sans-serif;
    content: "Likes";
    opacity: 0.4;
  } */

/* .sidebar-icon-archive:before {
    content: "\f417";
    color: white;
    opacity: 1;
    transition: all 2s ease-in-out;
  }
  
  .sidebar-icon-archive:hover:before {
    content: "Arkiv";
    opacity: 0.4;
  } */

/* @keyframes changeContent {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      content: "Likes";
    }
  }
  
  .sidebar-icon-like:before {
    content: "\F417";
    transition: all 0.2s linear;
    animation-direction: reverse;
  }
  .sidebar-icon-like:hover:before {
    animation-fill-mode: forwards;
    animation: changeContent 0.5s linear forwards;
  } */

/* .product {
    text-align: left;
    color: white;
    font-size: 16px;
    min-height: 60rem;
  } */

/* custom media queries*/

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  // .carousel-indicators button {
  //   left: 3rem;
  //   position: relative;
  // }
  .btn-custom-nav {
    font-size: 0.5rem;
  }
  .navbar-brand {
    font-size: 0.8rem;
  }
  .navbar-brand img {
    width: 6rem; // 12
  }
}
div.modal-body {
  padding: 0;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  // .carousel-indicators button {
  //   left: 4rem;
  //   position: relative;
  // }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  // .carousel-indicators button {
  //   left: 4rem;
  //   position: relative;
  // }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  // .carousel-indicators button {
  //   left: 6rem;
  //   position: relative;
  // }
}

/*transitions*/

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.iframediv {
  // border: 3rem solid rgba(0, 0, 0, 0);
  // filter: drop-shadow(0 0 5rem rgba(0, 0, 0, 1));
  // height: 100%;
  // width: 50rem;
  max-height: 27rem;
  max-width: 48rem;
}

/*search bar options*/
.dropdown {
  position: relative;
  /* display: inline-block !important; */
}
.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: rgba(256, 256, 256, 0.8);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.25rem;
}
.dropdown-content p {
  color: #343a40;
  padding: 0.2rem;
  text-decoration: none;
  display: block;
  z-index: 2;
}

.dropdown-content p:hover {
  background-color: #ddd;
}

.likeheart {
  color: #eb5045;
}

.likeheart-card {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  z-index: 3;
  color: #eb5045;
}

.likeheart:hover:before {
  content: "\F770";
}

.unlikeheart-card {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  z-index: 3;
}

.unlikeheart:hover:before {
  /* content: "\F415"; */
  color: #eb5045;
}
